/* Resetando estilos padrões */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #0a8f8b;
    color: white;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
}

.content {
    padding: 20px;
    text-align: center;
}

.evolution h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

.evolution p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.image-section h3 {
    font-size: 2em;
    margin-bottom: 20px;
}

.image-container {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.image-item {
    position: relative;
    width: 45%;
    overflow: hidden;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.image-item img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.image-item p {
    position: absolute;
    bottom: 15px;
    left: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.image-item:hover {
    transform: scale(1.05);
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}

footer p {
    font-size: 1em;
}
